<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Table Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/js/datatable.js"></script>
</head>

<body>
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<span th:utext="${userName}"></span>
			<button class="btn btn-md btn-danger btn-block" type="Submit">Выход</button>
		</form>

		<h1>Таблица калорийности</h1>
		<table id="productTable" class="display">
			<thead>
				<tr>
					<th>Название</th>
					<th>Белки (гр на 100 гр)</th>
					<th>Жиры (гр на 100 гр)</th>
					<th>Углеводы (гр на 100 гр)</th>
					<th>Калории на 100 гр (ккал на 100 гр)</th>
					<th>Хлебные единицы (на 100 гр)</th>
					<th>Пищевые волокна (на 100 гр)</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Название</th>
					<th>Белки (гр на 100 гр)</th>
					<th>Жиры (гр на 100 гр)</th>
					<th>Углеводы (гр на 100 гр)</th>
					<th>Калории на 100 гр (ккал на 100 гр)</th>
					<th>Хлебные единицы (на 100 гр)</th>
					<th>Пищевые волокна (на 100 гр)</th>
				</tr>
			</tfoot>
		</table>

	</div>
</body>
</html>